<!DOCTYPE html>
<html ng-app="Connexion">

<head>
    <meta charset="utf-8" />
    <title>Angular JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="../JS/connexion.js" type="text/javascript"></script>
</head>

<body>


    <h2 style="text-align: center;">WELCOME ON THE PAGE CONNEXION</h2>


    <form ng-controller="ConnexionCtrl  as connexion" action="accueil.html" method="post" style="text-align: left;" ng-submit="submit()">
        <label for="username">Username : * </label>
        <input type="text" id="username" ng-model="user.name" />
        <br/>
        <label for="password">Password : * </label>
        <input type="password" id="password" ng-model="user.password" />
        <br/>

        <!-- Test pour checked plusieurs cases si une case leader est cochée
            <label><input type="checkbox" id="leader" ng-model="leader" /></label><br />
            <input type="checkbox" id="follower" ng-checked="leader" aria-label="Follower input" />
            <input type="checkbox" id="folower2" ng-checked="leader" aria-label="Follower input" /> -->

        <a href="accueil.html"><input type="submit" value="Submit" /></a>
    </form>

    
</body>

</html>